<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSwift313_UIColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A75C55851EC94F1E00E93BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75C55991EC94F1E00E93BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75C55A41EC94F1F00E93BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
