<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSwift10_array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7C60DB41D87F31A009B6B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C60DC81D87F31A009B6B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C60DD31D87F31A009B6B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
