<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSwift105_button.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7465DA31D9BA21D00E37BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7465DB71D9BA21D00E37BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7465DC21D9BA21D00E37BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
