<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSwift402_plist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7D9F38C1DE3002D0056DB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7D9F3A01DE3002D0056DB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7D9F3AB1DE3002D0056DB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
