<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSwift020_methord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A72D6C281D93D57900F87166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72D6C3C1D93D57A00F87166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72D6C471D93D57A00F87166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
