<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSwift302_Notification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A772CE991ECC2FC20075CB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A772CEAD1ECC2FC20075CB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A772CEB81ECC2FC20075CB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
